<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>estacion</key>
		<string>METRO UNIVERSIDAD</string>
		<key>latitud</key>
		<real>19.32365</real>
		<key>longitud</key>
		<real>-99.174904</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>estacion</key>
		<string>CENDI</string>
		<key>latitud</key>
		<real>19.328497</real>
		<key>longitud</key>
		<real>-99.174987</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>estacion</key>
		<string>PSIQUIATRÍA Y SALUD MENTAL</string>
		<key>latitud</key>
		<real>19.332367</real>
		<key>longitud</key>
		<real>-99.178453</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>estacion</key>
		<string>QUÍMICA</string>
		<key>latitud</key>
		<real>19.330846</real>
		<key>longitud</key>
		<real>-99.180577</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>estacion</key>
		<string>CELE</string>
		<key>latitud</key>
		<real>19.330754</real>
		<key>longitud</key>
		<real>-99.183274</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>estacion</key>
		<string>INGENIERÍA</string>
		<key>latitud</key>
		<real>19.33072</real>
		<key>longitud</key>
		<real>-99.18454699999999</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>7</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>estacion</key>
		<string>ARQUITECTURA</string>
		<key>latitud</key>
		<real>19.330545</real>
		<key>longitud</key>
		<real>-99.18666</real>
		<key>transbordes</key>
		<array>
			<string>1</string>
			<string>7</string>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>estacion</key>
		<string>RECTORÍA</string>
		<key>latitud</key>
		<real>19.332536</real>
		<key>longitud</key>
		<real>-99.18944399999999</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>estacion</key>
		<string>PSICOLOGÍA</string>
		<key>latitud</key>
		<real>19.334513</real>
		<key>longitud</key>
		<real>99.189291</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>estacion</key>
		<string>FILOSOFÍA Y LETRAS</string>
		<key>latitud</key>
		<real>19.334733</real>
		<key>longitud</key>
		<real>-99.187617</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>estacion</key>
		<string>DERECHO</string>
		<key>latitud</key>
		<real>19.335042</real>
		<key>longitud</key>
		<real>-99.18498099999999</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>estacion</key>
		<string>ECONOMÍA</string>
		<key>latitud</key>
		<real>19.335288</real>
		<key>longitud</key>
		<real>99.182891</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>estacion</key>
		<string>ODONTOLOGÍA</string>
		<key>latitud</key>
		<real>19.334743</real>
		<key>longitud</key>
		<real>-99.18073800000001</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>estacion</key>
		<string>MEDICINA</string>
		<key>latitud</key>
		<real>19.333038</real>
		<key>longitud</key>
		<real>99.17871</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>estacion</key>
		<string>VETERINARIA</string>
		<key>latitud</key>
		<real>19.329664</real>
		<key>longitud</key>
		<real>-99.17604900000001</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>estacion</key>
		<string>INSTITUTO DE GEOFÍSICA</string>
		<key>latitud</key>
		<real>19.326325</real>
		<key>longitud</key>
		<real>99.175073</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17</integer>
		<key>estacion</key>
		<string>QUÍMICA CONJUNTO D Y E</string>
		<key>latitud</key>
		<real>19.322238</real>
		<key>longitud</key>
		<real>-99.176607</real>
		<key>transbordes</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>18</integer>
		<key>estacion</key>
		<string>CIENCIAS PROFESORES</string>
		<key>latitud</key>
		<real>19.322687</real>
		<key>longitud</key>
		<real>-99.17918299999999</real>
		<key>transbordes</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>19</integer>
		<key>estacion</key>
		<string>CIENCIAS ALUMNOS</string>
		<key>latitud</key>
		<real>19.32488</real>
		<key>longitud</key>
		<real>99.181713</real>
		<key>transbordes</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
			<integer>6</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>20</integer>
		<key>estacion</key>
		<string>CONTADURÍA</string>
		<key>latitud</key>
		<real>19.323601</real>
		<key>longitud</key>
		<real>99.18487500000001</real>
		<key>transbordes</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>21</integer>
		<key>estacion</key>
		<string>TRABAJO SOCIAL
TRABAJO SOCIAL
TRAVAJO SOCIAL</string>
		<key>latitud</key>
		<real>19.323329</real>
		<key>longitud</key>
		<real>99.18656300000001</real>
		<key>transbordes</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>22</integer>
		<key>estacion</key>
		<string>METROBUS ORIENTE</string>
		<key>latitud</key>
		<real>19.324185</real>
		<key>longitud</key>
		<real>99.187698</real>
		<key>transbordes</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>23</integer>
		<key>estacion</key>
		<string>ESTADIO DE PRACTICAS</string>
		<key>latitud</key>
		<real>19.326864</real>
		<key>longitud</key>
		<real>-99.188114</real>
		<key>transbordes</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
			<integer>6</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>24</integer>
		<key>estacion</key>
		<string>MUCA</string>
		<key>latitud</key>
		<real>19.330232</real>
		<key>longitud</key>
		<real>-99.189054</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>25</integer>
		<key>estacion</key>
		<string>E8</string>
		<key>latitud</key>
		<real>19.330049</real>
		<key>longitud</key>
		<real>-99.190547</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>26</integer>
		<key>estacion</key>
		<string>E7</string>
		<key>latitud</key>
		<real>19.329153</real>
		<key>longitud</key>
		<real>-99.192414</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>11</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>27</integer>
		<key>estacion</key>
		<string>E6</string>
		<key>latitud</key>
		<real>19.330269</real>
		<key>longitud</key>
		<real>-99.193433</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>28</integer>
		<key>estacion</key>
		<string>E4</string>
		<key>latitud</key>
		<real>19.331256</real>
		<key>longitud</key>
		<real>-99.1942</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>29</integer>
		<key>estacion</key>
		<string>E3</string>
		<key>latitud</key>
		<real>19.332605</real>
		<key>longitud</key>
		<real>-99.194637</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>30</integer>
		<key>estacion</key>
		<string>E2</string>
		<key>latitud</key>
		<real>19.333438</real>
		<key>longitud</key>
		<real>-99.193229</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>31</integer>
		<key>estacion</key>
		<string>E1</string>
		<key>latitud</key>
		<real>19.33347</real>
		<key>longitud</key>
		<real>-99.190777</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>32</integer>
		<key>estacion</key>
		<string>CAMPOS DE FUTBOL 1</string>
		<key>latitud</key>
		<real>19.33347</real>
		<key>longitud</key>
		<real>-99.190777</real>
		<key>transbordes</key>
		<array>
			<integer>4</integer>
			<integer>6</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>33</integer>
		<key>estacion</key>
		<string>JARDÍN BOTÁNICO</string>
		<key>latitud</key>
		<real>19.321343</real>
		<key>longitud</key>
		<real>-99.19305799999999</real>
		<key>transbordes</key>
		<array>
			<integer>4</integer>
			<integer>6</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>34</integer>
		<key>estacion</key>
		<string>CAMPOS DE FUTBOL 2</string>
		<key>latitud</key>
		<real>19.323299</real>
		<key>longitud</key>
		<real>-99.19207299999999</real>
		<key>transbordes</key>
		<array>
			<integer>4</integer>
			<integer>6</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>35</integer>
		<key>estacion</key>
		<string>INVESTIGACIONES BIOMÉDICAS</string>
		<key>latitud</key>
		<real>19.323177</real>
		<key>longitud</key>
		<real>-99.18971000000001</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>36</integer>
		<key>estacion</key>
		<string>BIBLIOTECA NACIONAL</string>
		<key>latitud</key>
		<real>19.315441</real>
		<key>longitud</key>
		<real>-99.186412</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>37</integer>
		<key>estacion</key>
		<string>CENTRO CULTURAL</string>
		<key>latitud</key>
		<real>19.314476</real>
		<key>longitud</key>
		<real>-99.18634299999999</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>38</integer>
		<key>estacion</key>
		<string>POSGRADO ECONOMÍA</string>
		<key>latitud</key>
		<real>19.311483</real>
		<key>longitud</key>
		<real>-99.18582000000001</real>
		<key>transbordes</key>
		<array>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>39</integer>
		<key>estacion</key>
		<string>REVALIDACIÓN DE ESTUDIOS</string>
		<key>latitud</key>
		<real>19.311789</real>
		<key>longitud</key>
		<real>-99.18487399999999</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>40</integer>
		<key>estacion</key>
		<string>PERSONAL ACADÉMICO</string>
		<key>latitud</key>
		<real>19.310771</real>
		<key>longitud</key>
		<real>-99.182143</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>41</integer>
		<key>estacion</key>
		<string>ARCHIVO GENERAL</string>
		<key>latitud</key>
		<real>19.308113</real>
		<key>longitud</key>
		<real>-99.180059</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>42</integer>
		<key>estacion</key>
		<string>AVENIDA DEL IMÁN</string>
		<key>latitud</key>
		<real>19.30808</real>
		<key>longitud</key>
		<real>-99.180086</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>43</integer>
		<key>estacion</key>
		<string>INVESTIGACIONES FILOLÓGICAS</string>
		<key>latitud</key>
		<real>19.314075</real>
		<key>longitud</key>
		<real>-99.18109699999999</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>44</integer>
		<key>estacion</key>
		<string>INVESTIGACIONES FILOSÓFICAS</string>
		<key>latitud</key>
		<real>19.314075</real>
		<key>longitud</key>
		<real>-99.18109699999999</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>45</integer>
		<key>estacion</key>
		<string>COORDINACIÓN DE HUMANIDADES</string>
		<key>latitud</key>
		<real>19.31412</real>
		<key>longitud</key>
		<real>-99.181556</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>46</integer>
		<key>estacion</key>
		<string>UNIVERSUM
UNIVERSUM
UNIVERSUM</string>
		<key>latitud</key>
		<real>19.311526</real>
		<key>longitud</key>
		<real>-99.18212699999999</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>47</integer>
		<key>estacion</key>
		<string>TEATRO Y DANZA
TEATRO Y DANZA
TEATRO Y DANZA</string>
		<key>latitud</key>
		<real>19.311985</real>
		<key>longitud</key>
		<real>-99.184815</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>48</integer>
		<key>estacion</key>
		<string>SALA NEZAHUALCÓYOTL/MUAC</string>
		<key>latitud</key>
		<real>19.314534</real>
		<key>longitud</key>
		<real>-99.18598</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>49</integer>
		<key>estacion</key>
		<string>BIBLIOTECA/HEMEROTECA</string>
		<key>latitud</key>
		<real>19.315839</real>
		<key>longitud</key>
		<real>-99.18612899999999</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>50</integer>
		<key>estacion</key>
		<string>ESPACIO ESCULTORICO</string>
		<key>latitud</key>
		<real>19.317232</real>
		<key>longitud</key>
		<real>-99.18612899999999</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>51</integer>
		<key>estacion</key>
		<string>INVESTIGACIONES JURÍDICAS II (REGRESO)</string>
		<key>latitud</key>
		<real>19.316849</real>
		<key>longitud</key>
		<real>-99.180408</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>52</integer>
		<key>estacion</key>
		<string>TV UNAM</string>
		<key>latitud</key>
		<real>19.317669</real>
		<key>longitud</key>
		<real>-99.17621800000001</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>53</integer>
		<key>estacion</key>
		<string>TIENDA UNAM (REGRESO)
TIENDA UNAM (REGRESO)
TIENDA UNAM (REGRESO)</string>
		<key>latitud</key>
		<real>19.32056</real>
		<key>longitud</key>
		<real>-99.17640900000001</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>54</integer>
		<key>estacion</key>
		<string>TIENDA UNAM (IDA)</string>
		<key>latitud</key>
		<real>19.32056</real>
		<key>longitud</key>
		<real>-99.17640900000001</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>55</integer>
		<key>estacion</key>
		<string>CIENCIAS POLÍTICAS
CIENCIAS POLÍTICAS
CIENCIAS POLÍTICAS</string>
		<key>latitud</key>
		<real>19.317773</real>
		<key>longitud</key>
		<real>-99.176417</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>56</integer>
		<key>estacion</key>
		<string>INVESTIGACIONES JURÍDICAS I (IDA)
INVESTIGACIONES JURÍDICAS I (IDA)
INVESTIGACIONES JURÍDICAS I (IDA)
INVESTIGACIONES JURÍDICAS I (IDA)
INVESTIGACIONES JURÍDICAS I (IDA)
INVESTIGACIONES JURÍDICAS I (IDA)
INVESTIGACIONES JURÍDICAS I (IDA)
INVESTIGACIONES JURÍDICAS</string>
		<key>latitud</key>
		<real>19.317773</real>
		<key>longitud</key>
		<real>-99.176417</real>
		<key>transbordes</key>
		<array>
			<integer>3</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>57</integer>
		<key>estacion</key>
		<string>METROBUS CU INSURGENTES PONIENTE</string>
		<key>latitud</key>
		<real>19.324227</real>
		<key>longitud</key>
		<real>-99.189424</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>10</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>58</integer>
		<key>estacion</key>
		<string>RELACIONES LABORALES</string>
		<key>latitud</key>
		<real>19.334215</real>
		<key>longitud</key>
		<real>-99.191033</real>
		<key>transbordes</key>
		<array>
			<integer>11</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>59</integer>
		<key>estacion</key>
		<string>OBRAS Y RELACIONES</string>
		<key>latitud</key>
		<real>19.335062</real>
		<key>longitud</key>
		<real>-99.192931</real>
		<key>transbordes</key>
		<array>
			<integer>11</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>60</integer>
		<key>estacion</key>
		<string>AAPAUNAM</string>
		<key>latitud</key>
		<real>19.334358</real>
		<key>longitud</key>
		<real>-99.195565</real>
		<key>transbordes</key>
		<array>
			<integer>11</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>61</integer>
		<key>estacion</key>
		<string>UDUAL</string>
		<key>latitud</key>
		<real>19.331309</real>
		<key>longitud</key>
		<real>-99.19546200000001</real>
		<key>transbordes</key>
		<array>
			<integer>11</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>62</integer>
		<key>estacion</key>
		<string>PISTA DE CALENTAMIENTO</string>
		<key>latitud</key>
		<real>19.326366</real>
		<key>longitud</key>
		<real>-99.194846</real>
		<key>transbordes</key>
		<array>
			<integer>11</integer>
			<integer>6</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>63</integer>
		<key>estacion</key>
		<string>PUMITAS</string>
		<key>latitud</key>
		<real>19.32444</real>
		<key>longitud</key>
		<real>-99.194892</real>
		<key>transbordes</key>
		<array>
			<integer>11</integer>
			<integer>6</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>64</integer>
		<key>estacion</key>
		<string>SERVICIOS MÉDICOS</string>
		<key>latitud</key>
		<real>19.330111</real>
		<key>longitud</key>
		<real>-99.188165</real>
		<key>transbordes</key>
		<array>
			<integer>8</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>65</integer>
		<key>estacion</key>
		<string>ALBERCA OLIMPICA</string>
		<key>latitud</key>
		<real>19.330427</real>
		<key>longitud</key>
		<real>-99.18624</real>
		<key>transbordes</key>
		<array>
			<integer>8</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>66</integer>
		<key>estacion</key>
		<string>INGENIERÍA (REGRESO)</string>
		<key>latitud</key>
		<real>19.330552</real>
		<key>longitud</key>
		<real>-99.184623</real>
		<key>transbordes</key>
		<array>
			<integer>8</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>67</integer>
		<key>estacion</key>
		<string>FRONTONES</string>
		<key>latitud</key>
		<real>19.330483</real>
		<key>longitud</key>
		<real>-99.182692</real>
		<key>transbordes</key>
		<array>
			<integer>8</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>68</integer>
		<key>estacion</key>
		<string>IIMAS</string>
		<key>latitud</key>
		<real>19.330666</real>
		<key>longitud</key>
		<real>-99.18082200000001</real>
		<key>transbordes</key>
		<array>
			<integer>8</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>69</integer>
		<key>estacion</key>
		<string>INVERNADERO</string>
		<key>latitud</key>
		<real>19.328994</real>
		<key>longitud</key>
		<real>-99.179847</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>70</integer>
		<key>estacion</key>
		<string>POSGRADO DE INGENIERÍA</string>
		<key>latitud</key>
		<real>19.327</real>
		<key>longitud</key>
		<real>-99.18104099999999</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>71</integer>
		<key>estacion</key>
		<string>ANEXO DE INGENIERÍA (CAMINO VERDE)</string>
		<key>latitud</key>
		<real>19.325657</real>
		<key>longitud</key>
		<real>-99.182052</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>72</integer>
		<key>estacion</key>
		<string>CIENCIAS DEL MAR Y LUMINOLOGÍA</string>
		<key>latitud</key>
		<real>19.328562</real>
		<key>longitud</key>
		<real>-99.17927299999999</real>
		<key>transbordes</key>
		<array>
			<integer>6</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>73</integer>
		<key>estacion</key>
		<string>MEDICINA (R5)</string>
		<key>latitud</key>
		<real>19.334494</real>
		<key>longitud</key>
		<real>-99.179661</real>
		<key>transbordes</key>
		<array>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>74</integer>
		<key>estacion</key>
		<string>ODONTOLOGÍA (R5)</string>
		<key>latitud</key>
		<real>19.334904</real>
		<key>longitud</key>
		<real>-99.180876</real>
		<key>transbordes</key>
		<array>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>75</integer>
		<key>estacion</key>
		<string>ECONOMÍA (R5)</string>
		<key>latitud</key>
		<real>19.335815</real>
		<key>longitud</key>
		<real>-99.183567</real>
		<key>transbordes</key>
		<array>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>76</integer>
		<key>estacion</key>
		<string>AVENIDA UNIVERSIDAD (R5)</string>
		<key>latitud</key>
		<real>19.33616</real>
		<key>longitud</key>
		<real>-99.18573600000001</real>
		<key>transbordes</key>
		<array>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>77</integer>
		<key>estacion</key>
		<string>DERECHO (R5)</string>
		<key>latitud</key>
		<real>19.335385</real>
		<key>longitud</key>
		<real>-99.18476099999999</real>
		<key>transbordes</key>
		<array>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>78</integer>
		<key>estacion</key>
		<string>FILOSOFÍA Y LETRAS (R5)</string>
		<key>latitud</key>
		<real>19.334945</real>
		<key>longitud</key>
		<real>-99.18745699999999</real>
		<key>transbordes</key>
		<array>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>79</integer>
		<key>estacion</key>
		<string>PSICOLOGÍA (R5)</string>
		<key>latitud</key>
		<real>19.334655</real>
		<key>longitud</key>
		<real>-99.189234</real>
		<key>transbordes</key>
		<array>
			<integer>5</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>80</integer>
		<key>estacion</key>
		<string>EDUCACIÓN A DISTANCIA</string>
		<key>latitud</key>
		<real>19.32241</real>
		<key>longitud</key>
		<real>-99.186877</real>
		<key>transbordes</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
			<integer>6</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>81</integer>
		<key>estacion</key>
		<string>CÓMPUTO ACADÉMICO</string>
		<key>latitud</key>
		<real>19.322777</real>
		<key>longitud</key>
		<real>-99.184662</real>
		<key>transbordes</key>
		<array>
			<integer>2</integer>
			<string>4</string>
			<string>6</string>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>82</integer>
		<key>estacion</key>
		<string>CIENCIAS PROFESORES (REGRESO)</string>
		<key>latitud</key>
		<real>19.322201</real>
		<key>longitud</key>
		<real>-99.179075</real>
		<key>transbordes</key>
		<array>
			<integer>2</integer>
			<integer>4</integer>
		</array>
		<key>imagen</key>
		<string></string>
	</dict>
</array>
</plist>
